# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
*.tfplan
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.pem
id_rsa
id_ed25519
key-pair-ec2
key-pair-ec2.pub

# Local .terraform directories
**/.terraform/*

# Mac OS specific files
.DS_Store
.AppleDouble
.LSOverride

# VS Code specific files
.vscode/
*.code-workspace

# Environment variables
.env
*.env
.env.*

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp


# Docker
*.env
.docker/
